html,
body {
    height: 100%;
}

.wrapper {
    /* height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    align-content: stretch; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-content: center; */
}

header {
    border-bottom: 1px solid #bdbdbd;
}

.caption {
    width: 100%;
    text-align: center;
    background-color: #1e90ff;
}

.subtitle {
    width: 100%;
    text-align: center;
}

.container {
    margin-bottom: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.todo-wrapper {
    width: 600px;
    padding: 10px;
    border: 1px solid #F5DEB3;
    background: #FDF5E6;
}

.input-box {
    width: 550px;
}

.input-box #newTD {
    width: 400px;
    height: 35px;
    border: none;
    outline: none;
    font-size: 24px;
    background: #FDF5E6;
    margin: 10px;
}

.task-area {
    display: flex;
    list-style: none;
    flex-direction: column;
    width: 550px;
}

.task-area li {
    height: 35px;
    font-size: 24px;
    line-height: 35px;
}

.task-id {
    padding-left: 10px;
}

.btn-del {
    float: right;
    width: 35px;
    height: 35px;
    border: none;
    background: url('close.png') no-repeat center;
    background-size: cover;
    outline: none;
}

.btn-ok {
    float: left;
    width: 35px;
    height: 35px;
    border: none;
    background: url('done.png') no-repeat center;
    background-size: cover;
    outline: none;
}

.btn-del,
.btn-ok {
    visibility: hidden;
}

.task-area li:hover .btn-ok,
.task-area li:hover .btn-del {
    visibility: visible;
}

footer {
    /* flex: 0 0 auto; */
    text-align: center;
    background-color: #1e90ff;
    margin-bottom: 20px;
}

.task-done {
    text-decoration: line-through;
}